<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/toys">
        <img src="/img/rocket.svg" alt="brand image" height="40" width="50">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="/toys">Toys</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Genres
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">LEGO</a></li>
              <li><a class="dropdown-item" href="#">Rubik</a></li>
              <li><a class="dropdown-item" href="#">Chess</a></li>
              <li><a class="dropdown-item" href="#">Jenga</a></li>
              <li><a class="dropdown-item" href="#"></a>Trampoline</li>
              <li><a class="dropdown-item" href="#">Memory Game</a></li>
              <li><a class="dropdown-item" href="#">Sports & Outdoor Play Toys</a></li>
              <li><a class="dropdown-item" href="#">Remote & App Controlled Games</a></li>
              <li><a class="dropdown-item" href="#">Puzzles</a></li>
              <li><a class="dropdown-item" href="#">UNO</a></li>
              <li><a class="dropdown-item" href="#">Patin</a></li>
              <li><a class="dropdown-item" href="#">Stuffed Animals</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="toys/new"> Add Toy</a>
          </li>
        </ul>
        <form class="d-flex" role="search" action="/toys/search" method="GET">
          <input class="form-control me-2" type="search" placeholder="Search" name="term" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>